# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos y outputs (no van en la imagen, se montan como volumen)
data/raw/
outputs/
mappings/

# Entornos virtuales
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp